//Variables for media queries
$extra-small-screen: 350px;
$small-screen: 480px;
$medium-screen: 740px;
$large-screen: 1024px;

//Header and footer commonly used variables
$font: 'Poppins', sans-serif;
$layout-color: #713043;
$layout-font-color: #ffffff;
$link-btn-background: white;
$action-btn-background: #AB4463;

//Homepage product list variables
$product-background: #F1EFEF;
$product-desc-font-size: 20px;

$product-font-color: #4F4F4F;

$product-icon-size: 20px;

$product-price-font-size: 16px;

$product-name-font-weight: bold;


//Add Product Page
$main-label-background: #EBEBEB;
$main-label-color: #7A7A7A;
$main-label-font-size: 24px;

$properties-background: #F3F3F3;
$properties-title-color: #7A7A7A;;
$properties-title-weight: 700;
$properties-title-size: 30px;

$property-label-background: #D7D7D7;
$property-label-color: #7A7A7A;
$property-font-size: 24px;

$place-holder-color: #838383;
$place-holder-font-weight: 300;
$place-holder-font-size: 22px;


$product-description-color: #6D6D6D;
$product-description-size: 25px;
$product-description-weight: 500;