@import "_mainInput";
@import "_propertyInput";

#product_form {
  padding: 5em 2em;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;

  @include medium-screen() {
    align-items: center;
  }
}