//this is the container for the properties input field.
.product-properties {
  width: 700px;
  background: #F3F3F3;
  border: 1px solid #e3e3e3;
  @include border-radius(15px);
  @include flex-center();
  @include shadow();
  flex-flow: column nowrap;
  gap: 25px;

  @include medium-screen() {
    width: 92vw;
  }

  .properties-title {
    margin: 20px 0 0 0;
    @include font-properties($properties-title-color, $properties-title-size, $properties-title-weight);
    @include phone-screen() {
      font-size: 6vw;
    }
  }

  .property-container {
    display: flex;
    border: 1px solid #DADADA;
    @include box-dimensions(100%, 75px);

    .label-container {
      background: $property-label-background;
      @include font-properties($property-label-color, $property-font-size, bold);
      @include flex-center();
      width: 30%;

      @include medium-screen() {
        font-size: 18px;
      }

      @include phone-screen() {
        font-size: 14px;
      }
    }

    input {
      @include font-properties($place-holder-color, $place-holder-font-size, $place-holder-font-weight);
      padding-left: 10px;
      width: 70%;
      border: none;
      &:focus {
        outline: none;
      }
      @include medium-screen() {
        font-size: 16px;
      }
      @include phone-screen() {
        font-size: 14px;
      }
    }
  }

  .product-description {
    margin: 0 0 20px 0;
    @include font-properties($product-description-color, $product-description-size, $product-description-weight);
    @include medium-screen() {
      font-size: 3.75vw;
    }
  }
}