//container of both buttons
.buttons-container {
  margin-bottom: 25px;
  @include flex-center();
  gap: 20px;

  @include medium-screen {
    margin-bottom: 15px;
  }

  //styling for buttons that link to other pages like, the ADD button in the home links to the product and Cancel btn in the Addproduct links to the homepage
  .header-link-btn {
    @include font-properties(#8E3451, 20px, 400);
    @include border-radius(25px);
    @include flex-center();
    gap: 5px;
    @include box-dimensions(110px, 45px);
    background: white;
    text-decoration: none;
    @include medium-screen {
      @include box-dimensions(150px, 45px);
      @include border-radius(0px);
    }

    @include extra-small-screen {
      @include box-dimensions(35vw, 45px);
    }
  }

  //styling for the the mass delete and save button
  .header-action-btn {
    @include flex-center();
    gap: 5px;
    @include border-radius(25px);
    @include font-properties(white, 20px, 400);
    @include box-dimensions(170px, 45px);
    background: $action-btn-background;
    border: none;

    @include medium-screen {
      @include box-dimensions(150px, 45px);
      @include border-radius(0px);
    }

    @include extra-small-screen {
      @include box-dimensions(47vw, 45px);
    }

    &:hover {
      background: #51212f;
      cursor: pointer;
    }
  }

  .save-product-btn {
    width: 110px;

    @include medium-screen {
      @include box-dimensions(150px, 45px);
      @include border-radius(0px);
    }

    @include extra-small-screen {
      @include box-dimensions(47vw, 45px);
    }
  }
}

